* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px;
}
.todo-app {
  width: 100%;
  max-width: 90%;
  border-radius: 10px;
  background-color: #fff;
  margin: 100px auto;
  padding: 40px 30px 70px;
}
.todo-app h1 {
  font-size: 25px;
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.todo-app .icon {
  width: 30px;
  margin-left: 10px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #edeef0;
  padding-left: 20px;
  border-radius: 30px;
  margin-bottom: 25px;
}
.row input {
  width: 100%;
  flex-grow: 1;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 10px;
}
.row button {
  max-width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 16px 50px;
  background-color: #ff5945;
  color: #fff;
  border-radius: 40px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
}
ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
ul li::before {
  content: "";
  position: absolute;
  background-image: url("./images/unchecked.png");
  background-size: cover;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-position: center;
  left: 8px;
  top: 12px;
}
ul li.checked {
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before {
  content: "";
  background-image: url("./images/checked.png");
}
ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
ul li span:hover {
  background-color: #edeef0;
}

@media (max-width: 570px) {
  .row button {
    flex-wrap: wrap;
  }
}